
/* SVG Silent Extends */

%logo-white {
  background-image: url('/images/svg/logo-white.svg');
}

%device-menu-btn-closed {
  background-image: url('/images/x.svg');
}

%device-menu-btn-closed-black {
  background-image: url('/images/x-black.svg');
}

%device-menu-btn-open {
  background-image: url('/images/menu.svg');
}

%white-arrow {
  background-image: url('/images/svg/white-arrow.svg');
}

%white-line {
  background-image: url('/images/svg/white-line.svg');
}

%black-line {
  background-image: url('/images/svg/black-line.svg');
}

%twitter {
  background-image: url('/images/svg/twitter.svg');
}

%facebook {
  background-image: url('/images/svg/facebook.svg');
}

%youtube {
  background-image: url('/images/svg/youtube.svg');
}

%instagram {
  background-image: url('/images/svg/instagram.svg');
}