
%footer.page-foot
  %div.main-content
    %div.container
      %div.page-foot__header
        %a.logo{:href => "/index.html"}
          = image_tag "/images/svg/logo-white.svg", :alt => "Co Video", :class => ""
        %p.nerds
          May 27th 2021, across 20 different countries, watch live online

      %ul.page-foot__nav
        %li.nav-item
          = link_to "About", "#about"
        %li.nav-item
          = link_to "Schedule", "#schedule"
        %li.nav-item
          = link_to "Get in touch", "#"

          