---
title: CO-VIDEO 2021 - Global Video Tech Meetup
---

%section.hero.home-hero
  %div.container
    %div.hero__text
      %h1.hero__heading
        Global Video
        %br.breaker
        Tech Meetup
      %h1.hero__sub-heading
        May 27th 2021, across 20 amazing communities, watch live online for free
      -# %div.hero__btn-group
      -#   = link_to "Watch Live", "https://twitch.tv/demuxed", :class => "hero__btn"

%section.about-us#about
  %div.container
    %div.about-us__text
      %h2.section-heading
        About us
      %p
        In 2020, the Video Technology Meetup community came together to organise
        an amazing 24 hour live stream of meetups from around the globe.
      %p
        On Thursday, May 27th, 2021 we're coming together again to repeat that feat, traveling
        from Auckland to Seattle, with talks from 20 amazing Video Technology communities!
      %p
        All events will be live streamed on the <a href="https://twitch.tv/demuxed">Demuxed Twitch channel.</a>
        Have a talk you want to give? Want to get involved? <a href="mailto:info@demuxed.com">Get in touch!</a>
    = image_tag "/images/svg/about-stats-mobile.svg", :alt => "20 video tech meetups, 24 hours, 1 amazing event", :class => "about-us__img-mobile"
    = image_tag "/images/svg/about-stats.svg", :alt => "20 video tech meetups, 24 hours, 1 amazing event", :class => "about-us__img"

%section.schedule#schedule
  %div.container
    %h2.section-heading
      Schedule
      %span
        27th May 2021
    %ul.schedule-list
      %li
        %h3
          Auckland Video
          %span
            6:00pm local
        %h4
          Round Table: The challenges and opportunities of the COVID landscape for NZ Video services
        %p
          Matt Orange (Spark Sport), Melanie Starling (Sky Neon), Lucy Hoult (TVNZ), Richard Beniston (Discovery)

      %li
        %h3
          Melbourne Video Technology
          %span
            6:00pm local
        %h4
          Mandy Scott (Fastly)
        %p
          Forensic Watermarking at the Edge
        %h4
          James Broberg (StreamShark)
        %p
          Sharknado: Kubernetes-based load testing for live video

      %li
        %h3
          Sydney Video Technology
          %span
            7:00pm local
        %h4
          Phil Cluff (Mux)
        %p
          The new HLS content steering specification
        %h4
          Ray Tiley (Tightrope Media Systems)
        %p
          Lessons learned capturing screens in the browser

      %li
        %h3
          Tokyo Video Tech
          %span
            7:00pm local
        %h4
          Yusuke Goto (AbemaTV, Inc.)
        %p
          SRE - Streaming Reliability Engineering, to keep delivering new value in media to people with no concern.

      %li
        %h3
          Taipei Video Technology
          %span
            7:00pm local
        %h4
          Ray Wang (AWS)
        %p
          ML + IoT to enhance the sports viewer experience
        %h4
          Derek Shih (KKStream)
        %p
          Create flexible player module with plugin based architecture
        %h4
          LINE TV
        %p
          Application of MediaConvert QVBR

      %li
        %h3
          Video Tech TLV
          %span
            5:00pm local
        %h4
          Speakers coming soon!

      %li
        %h3
          BCN Video Tech
          %span
            5:00pm local
        %h4
          Yeray Alfageme (Eurovision Services)
        %p
          From On-premise Encoding to Cloud: Taking Advantage of Managed Services
        %h4
          Ryan Jespersen (Millicast)
        %p
          Interactive Real-Time Streaming with WebRTC and AV1 SVC

      %li
        %h3
          Paris Video Tech
          %span
            6:00pm local
        %h4
          Daniel Hoelbling-Inzko (Bitmovin)
        %p
          Why Time Series Databases are a bad fit for video analytics time series data
        %h4
          Phil Harrison and Raphaël Goldwaser (AWS)
        %p
          Relinearize your VOD assets

      %li
        %h3
          Berlin Video Tech
          %span
            7:00pm local
        %h4
          Daniel Silhavy (Fraunhofer FOKUS)
        %p
          dash.js - A story of a streaming lifetime
        %h4
          Werner Robitza, Alexander Dethof (AVEQ)
        %p
          How to monitor a streaming service – what could possibly go wrong?

      %li
        %h3
          Milan Video Tech
          %span
            8:00pm local
        %h4
          Behnam Kakavand (Evolution)
        %p
          C the future, or WebAssembly as means for web playback
        %h4
          Andrea Fassina (videodeveloper.io)
        %p
          How does a video DRM system work?
        %h4
          Luca Moglia (Akamai)
        %p
          Video Monitoring Dashboards with near real-time Edge Logs and CMCD KPIs
        %h4
          Alexey Malikov (Elecard)
        %p
          Metrics and key indicators of faults and malfunctions in OTT IPTV media content delivery

      %li
        %h3
          London Video Tech
          %span
            8:00pm local
        %h4
          Pieter-Jan Speelmans (THEO)
        %p
          There and back again: Implementing player support for LL-HLS
        %h4
          Olof Lindman (SVT)
        %p
          Transcoding with Encore - Ensuring concurrent quality, stability and performance in SVT’s VoD pipeline


      %li
        %h3
          Video Tech Meetup Organisers round table chat
          %span
            8pm UTC

      %li
        %h3
          MonteVIDEO Tech Meetup
          %span
            6:00pm local
        %h4
          Chris Uehlinger (TechSlice)
        %p
          Steylevision: relatime style transfer with WebRTC, Pion, FFmpeg and Tensorflow
        %h4
          Zoe Liu (Visionular)
        %p
          Video transcoding facilitated by intelligent video analysis and enhancement

      %li
        %h3
          Kitchener-Waterloo Video Technology
          %span
            6:00pm local
        %h4
          Colin Biggin
        %p
          iOS application development with WebRTC

      %li
        %h3
          Video Tech NYC
          %span
            7:00pm local
        %h4
          Rob Walch (JW Player)
        %p
          State of HLS.js
        %h4
          Ronald Bultje (Two Orioles)
        %p
          Performance Optimizations in dav1d
        %h4
          Nick Krzemienski (fuboTV)
        %p
          HLS & DASH Multi Codec Encoding & Packaging

      %li
        %h3
          BOS Video Technology
          %span
            8:00pm local
        %h4
          Speakers coming soon!

      %li
        %h3
          Denver Video Technology
          %span
            6:00pm local
        %h4
          Doug Bay (Sinclair Digital)
        %h4
          Alex Giladi (Comcast)

      %li
        %h3
          SF Video Technology
          %span
            7:00pm local
        %h4
          Jordi Cenzano (Facebook)
        %p
          Live distributed encoding proof of concept based on AWS Lambdas
        %h4
          Derek Buitenhuis (Vimeo)
        %p 
          Colorspaces: Useful For More Than Color?

      %li
        %h3
          Portland Video Technology
          %span
            8:00pm local
        %h4
          Evan Statton (AWS)
        %p
          Broadcast in the Cloud
        %h4
          Will Law (Akamai)
        %p
          Common Media Client Data

      %li
        %h3
          Seattle Video Technology
          %span
            9:00pm local
        %h4
          Speakers coming soon!
